.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: purple;
}
header {
  min-height: 10;
  background-color: yellow;
}

main {
  display: flex;
  min-height: 90vh;
  flex-direction: row;
  background-color: pink;
}
main-left {
  flex-grow: 1 1 auto;
  background-color: blue;
  justify-content: left;
}
main-right {
  flex-grow: 1 1 auto;
  background-color: red;
}
