.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.head {
  min-height: 10;
}

.main {
  display: flex;
  min-height: 50vh;
  flex-direction: row;
}
#main-left {
  flex-grow: 1 1 auto;
  background-color: blue;
}
#main-right {
  flex-grow: 1 1 auto;
  background-color: red;
}
