.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  min-height: 50vh;
  flex-direction: row;
}
#main-left {
  flex-grow: 1 1 auto;
}
#main-right {
  flex-grow: 1 1 auto;
}
