.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: row;
  min-height: 25vh;
}
.row-left {
  flex: 1 1 auto;
  background-color: yellow;
}
.row-right {
  flex: 1 1 auto;
  background-color: orange;
}

main {
  background-color: green;
  min-height: 60vh;
  flex-direction: column;
  flex-grow: 3;
}
footer {
  background-color: red;
  min-height: 20vh;
  flex-direction: column;
  flex-grow: 1;
}
